body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: gray;
    background-color: rgb(250, 254, 255);
}

#head {
    height: 300px;
    width: 100%;
    background-color: aliceblue;
    overflow: hidden;
}

.keepcenter {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    position: relative;
    max-width: 500px;   
    min-width: 360px;
    width: 40%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
    transition: 90ms;
}

.card:hover {
    translate: 0 -5px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.2);
}

#Encrypt{
    color: white;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    background-color: #4F46E5;
    transition: 90ms;
}
#Encrypt:hover {
    translate: 0 -3px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.2);
}

#decrypt{
    color: white;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    background-color: rgb(73, 73, 73);
}
#decrypt:hover {
    translate: 0 -3px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.2);
}

#input_box{
    padding: 10px;
    outline-color: #4F46E5;
    height: 150px;
    width: 86%;
    border-radius: 15px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(249, 249, 249);
}

#output_box{
    padding: 10px;
    outline-color: #4F46E5;
    height: 280px;
    width: 86%;
    border-radius: 15px;
    background-color: rgb(249, 249, 249);
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#chiper_key {
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(55, 65, 81);
    border-radius: 10px;
    border: 1px rgba(0, 0, 0, 0.363) solid;
    height: 30px;
    background-color: rgb(249, 249, 249);
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#selectEncript {
    margin-bottom: 50px;
}

#selectEncript:hover {
    cursor: pointer;
}

.selectEnButton {
    background: white;
    border: 1px rgba(0, 0, 0, 0.363) solid;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    font-size: 14px;
}

.selectEnButton:hover {
    transition: 350ms;
    background-color: rgb(140, 140, 140);
}

.selectEnButton:active {
    transition: 30ms;
    background: white;
}
.inputoutput{
    position: relative;
    max-width: 500px;   
    min-width: 360px;
    width: 40%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
}